# Exploratory Data Analysis

In [10]:
# Importing pandas library


import pandas as pd

In [36]:
data = pd.read_csv('Pokemon.csv')

data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [14]:
#first 50 entries of data

data.head(50)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
24,19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
25,20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
26,21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
27,22,Fearow,Normal,Flying,442,65,90,65,61,61,100,1,False
28,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
29,24,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
31,26,Raichu,Electric,NaN,485,60,90,55,90,80,110,1,False
32,27,Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False
33,28,Sandslash,Ground,NaN,450,75,100,110,45,55,65,1,False
34,29,Nidoranâ™€,Poison,NaN,275,55,47,52,40,40,41,1,False
35,30,Nidorina,Poison,NaN,365,70,62,67,55,55,56,1,False
36,31,Nidoqueen,Poison,Ground,505,90,92,87,75,85,76,1,False
37,32,Nidoranâ™‚,Poison,NaN,273,46,57,40,40,40,50,1,False
38,33,Nidorino,Poison,NaN,365,61,72,57,55,55,65,1,False
39,34,Nidoking,Poison,Ground,505,81,102,77,85,75,85,1,False
40,35,Clefairy,Fairy,NaN,323,70,45,48,60,65,35,1,False
41,36,Clefable,Fairy,NaN,483,95,70,73,95,90,60,1,False
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,False
44,39,Jigglypuff,Normal,Fairy,270,115,45,20,45,25,20,1,False
45,40,Wigglytuff,Normal,Fairy,435,140,70,45,85,50,45,1,False
46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
47,42,Golbat,Poison,Flying,455,75,80,70,65,75,90,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,False

In [15]:
# last 5 entries of data

data.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# reading columns

In [16]:
data.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [17]:
# reading individual columns

In [18]:
print(data['Name'])

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [24]:
# reading multiple columns

data[['Name','Type 1','Defense']].head()

                    Name Type 1  Defense
0              Bulbasaur  Grass       49
1                Ivysaur  Grass       63
2               Venusaur  Grass       83
3  VenusaurMega Venusaur  Grass      123
4             Charmander   Fire       43

# reading rows

In [37]:
data.iloc[1]

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
Total             405
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [38]:
data.iloc[1:9]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False

In [39]:
data.iloc[1:5, 0:3]

   #                   Name Type 1
1  2                Ivysaur  Grass
2  3               Venusaur  Grass
3  3  VenusaurMega Venusaur  Grass
4  4             Charmander   Fire

In [40]:
data.iloc[1,9]

80

In [44]:
data.loc[data['Type 1'] == 'Fire'].head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False

In [ ]:
# describing Data

data.describe()

In [46]:
data.sort_values('Type 1', ascending = True)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
600,540,Sewaddle,Bug,Grass,310,45,53,70,40,60,42,5,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
457,412,Burmy,Bug,NaN,224,40,29,45,29,45,36,4,False
132,123,Scyther,Bug,Flying,500,70,110,80,55,80,105,1,False
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,158,Totodile,Water,NaN,314,50,65,64,44,48,43,2,False
610,550,Basculin,Water,NaN,460,70,92,65,80,55,98,5,False
145,134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False
574,515,Panpour,Water,NaN,316,50,53,48,53,48,64,5,False
184,170,Chinchou,Water,Electric,330,75,38,38,56,56,67,2,False

In [47]:
data.sort_values('Total', ascending = True)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
206,191,Sunkern,Grass,NaN,180,30,30,30,30,30,30,2,False
322,298,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False
446,401,Kricketot,Bug,NaN,194,37,25,41,25,41,25,4,False
288,265,Wurmple,Bug,NaN,195,45,45,35,20,30,20,3,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [49]:
data.sort_values(['Type 1','Name','Generation',''], ascending = [1,1,1])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
678,617,Accelgor,Bug,NaN,495,80,70,40,100,60,145,5,False
182,168,Ariados,Bug,Poison,390,70,90,70,60,60,40,2,False
290,267,Beautifly,Bug,Flying,395,60,70,50,100,50,65,3,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
372,340,Whiscash,Water,Ground,468,110,78,73,76,71,60,3,False
301,278,Wingull,Water,Flying,270,40,30,30,55,30,85,3,False
209,194,Wooper,Water,Ground,210,55,45,45,25,25,15,2,False

# filtering data

In [50]:
# let's at the data

data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# 1. how many types of pokemons are there in the data and their values?

In [54]:
data['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

# 2. extract the data of Fire type pokemons

In [62]:
data.loc[data['Type 1'] == 'Fire'].head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False

# 3. extract the data of Fire or Water or Poison and Normal type pokemons

In [69]:
data.loc[(data['Type 1'] == 'Fire') | (data['Type 1'] == 'Water') | (data['Type 1'] == 'Poison') & (data['Type 1'] == 'Normal')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# 4. Find out how many Grass type pokemons are in the data whose name ends with 'ysaur'.

In [75]:
data.loc[(data['Type 1'] == 'Grass') & (data['Name'].str.endswith('ysaur'))]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False

#  5. display the pokemons whose defense is greater than 100.

In [76]:
data[data['Defense'] > 100]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
33,28,Sandslash,Ground,NaN,450,75,100,110,45,55,65,1,False
81,75,Graveler,Rock,Ground,390,55,95,115,45,45,35,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# 6. display the pokemons with HP of greater than 76 and are of water type.

In [78]:
data[(data['HP'] > 76) & (data['Type 1'] == 'Water')].head(30)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
60,55,Golduck,Water,NaN,500,80,82,78,95,80,85,1,False
67,62,Poliwrath,Water,Fighting,510,90,95,95,70,90,70,1,False
79,73,Tentacruel,Water,Poison,515,80,70,65,80,120,100,1,False
85,79,Slowpoke,Water,Psychic,315,90,65,65,40,40,15,1,False
86,80,Slowbro,Water,Psychic,490,95,75,110,100,80,30,1,False
87,80,SlowbroMega Slowbro,Water,Psychic,590,95,75,180,130,80,30,1,False
94,87,Dewgong,Water,Ice,475,90,70,80,70,95,70,1,False
128,119,Seaking,Water,NaN,450,80,92,65,65,80,68,1,False
140,130,Gyarados,Water,Flying,540,95,125,79,60,100,81,1,False
141,130,GyaradosMega Gyarados,Water,Dark,640,95,155,109,70,130,81,1,False
142,131,Lapras,Water,Ice,535,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False
174,160,Feraligatr,Water,NaN,530,85,105,100,79,83,78,2,False
185,171,Lanturn,Water,Electric,460,125,58,58,76,76,67,2,False
199,184,Azumarill,Water,Fairy,420,100,50,80,60,80,50,2,False
201,186,Politoed,Water,NaN,500,90,75,75,90,100,70,2,False
210,195,Quagsire,Water,Ground,430,95,85,85,65,65,35,2,False
214,199,Slowking,Water,Psychic,490,95,75,80,100,110,30,2,False
264,245,Suicune,Water,NaN,580,100,75,115,90,115,85,2,True
282,260,Swampert,Water,Ground,535,100,110,90,85,90,60,3,False
283,260,SwampertMega Swampert,Water,Ground,635,100,150,110,95,110,70,3,False
295,272,Ludicolo,Water,Grass,480,80,70,70,90,100,70,3,False
350,320,Wailmer,Water,NaN,400,130,70,35,70,35,60,3,False
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False
372,340,Whiscash,Water,Ground,468,110,78,73,76,71,60,3,False
382,350,Milotic,Water,NaN,540,95,60,79,100,125,81,3,False
404,369,Relicanth,Water,Rock,485,100,90,130,45,65,55,3,False
421,382,Kyogre,Water,NaN,670,100,100,90,150,140,90,3,True

# 7. find out the average Speed

In [80]:
data['Speed'].mean()

68.2775

# 8. display total statistics for each type 1

In [100]:
i = 'Type 1'

for i, df  in data.groupby(['Type 1']):
    print("Type 1-",i)
    print(df['Total'].describe())
    print(df['Total'].describe().count())

Type 1- Bug
count     69.000000
mean     378.927536
std      117.875223
min      194.000000
25%      269.000000
50%      395.000000
75%      475.000000
max      600.000000
Name: Total, dtype: float64
8
Type 1- Dark
count     31.000000
mean     445.741935
std      109.126217
min      220.000000
25%      359.000000
50%      465.000000
75%      510.000000
max      680.000000
Name: Total, dtype: float64
8
Type 1- Dragon
count     32.000000
mean     550.531250
std      146.267538
min      300.000000
25%      420.000000
50%      600.000000
75%      680.000000
max      780.000000
Name: Total, dtype: float64
8
Type 1- Electric
count     44.000000
mean     443.409091
std      105.721952
min      205.000000
25%      362.250000
50%      477.500000
75%      520.000000
max      610.000000
Name: Total, dtype: float64
8
Type 1- Fairy
count     17.000000
mean     413.176471
std      123.781680
min      218.000000
25%      323.000000
50%      405.000000
75%      483.000000
max      680.000000
Name: Total, dtype: float64
8
Type 1- Fighting
count     27.000000
mean     416.444444
std      102.464378
min      210.000000
25%      326.500000
50%      455.000000
75%      497.500000
max      625.000000
Name: Total, dtype: float64
8
Type 1- Fire
count     52.000000
mean     458.076923
std      109.760496
min      250.000000
25%      368.000000
50%      482.000000
75%      534.000000
max      680.000000
Name: Total, dtype: float64
8
Type 1- Flying
count      4.000000
mean     485.000000
std      161.400124
min      245.000000
25%      462.500000
50%      557.500000
75%      580.000000
max      580.000000
Name: Total, dtype: float64
8
Type 1- Ghost
count     32.000000
mean     439.562500
std      110.072685
min      275.000000
25%      335.000000
50%      464.500000
75%      495.750000
max      680.000000
Name: Total, dtype: float64
8
Type 1- Grass
count     70.000000
mean     421.142857
std      106.650626
min      180.000000
25%      318.500000
50%      430.000000
75%      497.000000
max      630.000000
Name: Total, dtype: float64
8
Type 1- Ground
count     32.000000
mean     437.500000
std      123.913081
min      265.000000
25%      329.500000
50%      440.000000
75%      512.250000
max      770.000000
Name: Total, dtype: float64
8
Type 1- Ice
count     24.000000
mean     433.458333
std      108.281027
min      250.000000
25%      305.000000
50%      467.500000
75%      526.250000
max      580.000000
Name: Total, dtype: float64
8
Type 1- Normal
count     98.000000
mean     401.683673
std      115.733038
min      190.000000
25%      302.500000
50%      415.000000
75%      481.500000
max      720.000000
Name: Total, dtype: float64
8
Type 1- Poison
count     28.000000
mean     399.142857
std       92.358687
min      245.000000
25%      323.750000
50%      401.500000
75%      490.000000
max      535.000000
Name: Total, dtype: float64
8
Type 1- Psychic
count     57.000000
mean     475.947368
std      139.026645
min      198.000000
25%      336.000000
50%      485.000000
75%      600.000000
max      780.000000
Name: Total, dtype: float64
8
Type 1- Rock
count     44.000000
mean     453.750000
std      108.059227
min      280.000000
25%      360.250000
50%      467.500000
75%      516.500000
max      700.000000
Name: Total, dtype: float64
8
Type 1- Steel
count     27.000000
mean     487.703704
std      115.420907
min      300.000000
25%      425.000000
50%      500.000000
75%      580.000000
max      700.000000
Name: Total, dtype: float64
8
Type 1- Water
count    112.000000
mean     430.455357
std      113.188266
min      200.000000
25%      328.750000
50%      455.000000
75%      502.250000
max      770.000000
Name: Total, dtype: float64
8

# 9. Change legendary value to true for pokemons having total greater than 700

In [124]:
data.loc[data['Total'] > 700, 'Legendary'] = 'superior'
data.loc[data['Legendary'] == 'superior']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,superior
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,superior
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,superior
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,superior
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,superior
552,493,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,superior

# 10. count type 1 pokemons and use groupby func.

In [128]:
data.groupby(['Type 1']).count()

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112